git+https://github.com/fundwotsai2001/diffusers.git@v0.31.0-release
git+https://github.com/YianLai0327/madmom.git
torch
torchaudio==2.7
soundfile
accelerate
transformers==4.46.1
matplotlib
librosa
torchsde
gdown
wandb